<% include nav.ejs %>
<% if(messages != "loggedIn") { %>
<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col s12 l6">
            <h4>please <a href="/">login</a>  to continue with your booking.</h4> 
        </div>
    </div>
</div>    
<% } else { %>
<div class="container"> 
    <div class="row">
        <div class="col s12 l6">
            <form action="/book/confirm-<%=pg._id%>">
                <h2>Booking</h2>
                <p>At: <%=pg.name %></p>
                <p>By: <%=user.name %></p>
                <div class="input-field col s6">
                    <input type="text" class="datepicker" name="date">
                    <label for="date">Date</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" class="timepicker" name="time">
                    <label for="time">Time</label>
                </div>
                <button type="submit">Book</button>
            </form>
        </div>
    </div>
</div>
<% } %>
<% include foot.ejs %>
    