<html>
<title>login page</title>
<head>
	<title>Forgot Password</title>
	<link href="login.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
<div class="login-page">
<div class="form">
<form class="password-form" method="POST" action="/forgot">
				<input type="text" placeholder="name" name="username"/>
				<input type="text" placeholder="email" name="email"/>
				<button type="sumbit">Change password</button>
			</form>
			</div>
			</div>
</body>	