<!DOCTYPE html>
<html>
<title>login page</title>
<head>
	<title>Login</title>
	<link href="css/login.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
	<div class="login-page">
		<div class="form">
            <div class="title">
            <h2>
                GameOn
            </h2>
            </div>
                <div class="err">
                <h2 name="something">
                
            </h2>
            </div>
			<form class="register-form" method="POST" action="/register">
				<input type="text" placeholder="name" name="username" required  />
				<input type="password" placeholder="password" name="password" required/>
				<input type="text" placeholder="email address" name="email" required/>
				<button type="submit">create</button>
				<p class="message">Already registered? <a href="#">Sign In</a></p>
			</form>
			<form class="login-form" method="POST" action="/login">
				<input type="text" placeholder="username" name="username" required/>
				<input type="password" placeholder="password" name="password" required  />
				<button type="submit">login</button>
				<p class="message">Not registered? <a href="#">Create an account</a></p>
				<p class="message">Forgot password?<a href="#2" action="/fp">Click here</a></p>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$('.message a').click(function(){
			$('form').animate({height: "toggle", opacity: "toggle"}, "slow");
		});
	</script>
</body>
</html>