<% include nav.ejs %>
    <div class="container">
        <div class="row" style="height:100px;"></div>
        <div class="row">
            <div class="col l3"></div>
            <div class="col s12 m6 l6">
             <div class="card cardcolor">
            <div class="card-content">
              <h5 class="text">GameOn</h5>
            </div>
            <div class="card-tabs" >
              <ul class="tabs tabs-fixed-width cardcolor">
                <li class="tab"><a class="active" style="color: #33691e" href="#test4">Log In</a></li>
                <li class="tab"><a style="color: #33691e" href="#test5">Sign Up</a></li>
              </ul>
            </div>
            <div class="card-content grey lighten-4">
              <div id="test4" style="height:300px;">
                  <form method="post" action="/login">
                    <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">account_circle</i>

                      <input name="username" id="name" type="text" class="validate" required>
                      <label for="name">Username</label>
                    </div>
                    <div class="input-field col s12">
                      <i class="material-icons prefix">vpn_key</i>
                      <input name="password" id="password" type="password" class="validate" required>
                      <label for="password">Password</label>
                    </div>
                    </div>
                    <div class="col s1"></div>
                      <button class="btn waves-effect waves-light col s10" style="background-color: #3a9715" type="submit" name="action">Submit
                          <i class="material-icons right">send</i>
                      </button>
                    
                </form>
              </div>
              <div id="test5" style="height:300px;">
                  <form method="post" action="/signup">
                    <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">account_circle</i>
                      <input name="username" id="name" type="text" class="validate" required="true"/>
                      <label for="name">Name</label>
                    </div>
                    <div class="input-field col s12">
                      <i class="material-icons prefix">vpn_key</i>
                      <input name="password" id="password" type="password" class="validate" required="true"/>
                      <label for="password">Password</label>
                    </div>
                    <div class="input-field col s12">
                      <i class="material-icons prefix">email</i>
                      <input name="email" id="email" type="email" class="validate" required="true"/>
                      <label for="email">Username/Email Id</label>
                    </div>
                    </div>
                  <div class="col s1"></div>
                  <button class="btn waves-effect waves-light col s10" style="background-color: #3a9715" type="submit" name="action">Submit
                      <i class="material-icons right">send</i>
                  </button>
                </form>
                </div>
            </div>
            </div>
            </div>
       </div>
    </div>


<% include foot.ejs %>