<!DOCTYPE html>
 <html>
   <head>
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->
     <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/looks.css"  media="screen,projection"/>
    <title>GameOn!</title>
    <link rel="icon" href="favicon.ico" />
     <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   </head>

<body class="light-green accent-1">
<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo center"><b>GameOn!</b></a>
      <a href="#" data-activates="mobile-wala" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down" width = "300">
          <li><a href="/playgrounds">Play Grounds</a></li>
          <li><a class="dropdown-button" href="" data-hover="true" data-belowOrigin="true" data-activates="drop1" >Sports<i class="material-icons right">arrow_drop_down</i></a>
          </li>
          <ul id='drop1' class='dropdown-content'>
            <li><a href="/playgrounds">Football<object type="image/svg+xml" width="23" height="23" data="./css/messi.svg">
                </object></a>  
            </li>
            <li><a href="/playgrounds">Cricket</a></li>
            <li><a href="/playgrounds">Badminton</a></li>
            <li><a href="/playgrounds">Swimming</a></li>
            <li><a href="/playgrounds">Basketball</a></li>
            <li><a href="/sport">More</a></li>
            
          </ul>
        
      </ul>
        
      <ul id="nav-mobile" class="right hide-on-med-and-down">
       

      <%if(messages=='loggedIn')  { %>
          <li><a href="/user">Home</a></li>
        <li><a href="/logout">Log Out</a></li>
      <% } else {%>
          <li><a href="/">Log In</a></li>
        <% } %>
          
        
      </ul>

      <ul class="side-nav" id="mobile-wala">
          <li><a href="/playgrounds">Play Grounds</a></li>
          <li><a class="dropdown-button" href="#" data-hover="true" data-belowOrigin="true" data-activates="dropdown1" >Sports<i class="material-icons right">arrow_drop_down</i></a>
          </li>
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/playgrounds">Football<object type="image/svg+xml" width="23" height="23" data="./css/messi.svg">
                </object></a>  
            </li>
            <li><a href="/playgrounds">Cricket</a></li>
            <li><a href="/playgrounds">Badminton</a></li>
            <li><a href="/playgrounds">Swimming</a></li>
            <li><a href="/playgrounds">Basketball</a></li>
            <li><a href="/sport">More</a></li>
            
            </ul>
            <%if(messages=='loggedIn')  { %>
              <li><a href="/user">Home</a></li>
            <li><a href="/logout">Log Out</a></li>
          <% } else {%>
              <li><a href="/">Log In</a></li>
            <% } %>
        </ul>
    </div>
</nav>
</div>