<% include nav.ejs %>
<div class = "container">
    <div class = "row" style="height: 10px;"></div>
    <div class="row">
        <div class="card">
            <form class="create" method="POST" action="/playgrounds/create"> 
            <div class="card-content">
                <h3 class="card-title">Add a new playground</h3>
            </div>
            <div class="card-content grey lighten-4">
                    <div class="input-field col s12">
                        <input name="name" id="name" type="text" class="validate">
                        <label for="name">Playground Name</label>
                    </div>
                    <div class = "input-field col s12">
                        <input name="area" id="area" type="text" class="validate">
                        <label for="area">Area</label>
                    </div>
                    <div class="input-field col s12">
                        <select multiple name= "sport">
                          <option value="" disabled selected > Sports </option>
                          <option value="Football" >Football</option>
                          <option value="Cricket">Cricket</option>
                          <option >Badminton</option>
                          <option >Swimming</option>
                          <option >Tennis</option>    
                        </select>
                        <label>Sports available</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="desc" id="desc" type="text" class="validate">
                        <label for="desc">Desc</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="contact" id="contact" type="tel" class="validate">
                        <label for="contact">Contact</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="img" id="img" type="text" class="validate">
                        <label for="img">Image URL link</label>
                    </div>
                    
                        <button class="btn waves-effect waves-light" style="background-color: #3a9715" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                        </button>
            </div>
                    
                
            </form>
        </div>  
    </div>
</div>
<% include foot.ejs %>