<% include nav.ejs %>
    <div class="container">
    <div class="row">
        <div class="col l8">
            <% if(ground) { %> 
            <h1><%= ground.area + " " %></h1>
            <% } %>
            <p>This is the best playground in your city</p>
        </div>
        <div class="col l2"></div>
        <div class="col l2 s12 m2">
            <div class="row"></div>
            <button class="btn waves-effect waves-light" type="submit" name="action">BOOK<i class="material-icons right">add</i>
            </button>
            
        </div>
    </div>
    </div>
    


<% include foot.ejs %>