<% include nav.ejs %>
<% var sport = [ 'Football' , 'Cricket', 'Badminton', 'Swimming', 'Basketball' ] %>
<body class="green lighten-3">
      <div class="container">
          <div class="row">
          </div>
         <!-- <div class="row">
            <div class="col s12 l12 m12">
               <div class="card-image">
                     <div class="parallax-container">
                         <div class="parallax" height="200px"><img class="responsive-img" src="https://lh3.googleusercontent.com/vd8qLEDLCTy3JsbfXWpB82zaRG4WlYteME4AJN-tPa67Vd8l-U_kV73X9uZj4SmJ6UZqmebh58nlEiy-3ulREo5CD0K8mXdH9Kxv_a1JoEFe6WA4w8jTwOd6vonnp1cz5Qeb485YEkT3UVxXU487qDySNPED7L5NPZyfVAuNWcpdwXevhL72ej380J1csYEgzskeLuE6-BTpd7kpKTZ3BI2tRaD9JpIEqzP0mdR_iH7gqrGyFQ4SQgzyAxo8xRVzq7agk5MxeUysa2kW1g35uAqePfS1M5FlqSoyNLWfpJ4pTDhDocY_ywWoTpY5vJZ00PW7OrHsKPd_4d5CWaXEBvuy6fK5Vn8DlmcjYp45SdTxtDZRDsAAVzQNV6fCPZo0GBbUWHzKCznOWa9VweDx_6fPrCh41xd91ui_ZSoEezyXutit8Zd9scV_Tzvx7B9D7XPKTH7e0NlZQQs-B079t5jDgmKe42LbIqUtdpMvWd7qPFOn4CbjbBioExkbj-RgXbENWrwT5XnYO52Jx3o1TTFMOn0-118fdzzqpGPTDBQpRYqYwztdIbyKvtj13TqzkwBZsC0rSDckaWZGSVxrzDDkDPRpNvW3t3r7uuZQ=w1332-h888-no"></div>
                       <h2 style="color:aliceblue">Football</h2>
                       </div>
                      
       
               </div>    
           </div>
       </div>  -->
          <% for(var i=0;i<5;i++) { %>
         <div class="row">
             <div class="col s12 l12 m12">
                <div class="card-image">
                      <div class="parallax-container">
                          <div class="parallax" height="200px"><img class="responsive-img" src="img/sports/<%=(i+1)%>.jpg"></div>
                        <h2 style="color:aliceblue"><%=sport[i]%></h2>
                        </div>
                       
        
                </div>    
            </div>
        </div>
          <% } %>
            

      </div>
</body>

<% include foot.ejs %>