
.cardcolor {
    color: #3a9715 ;
    
}
.tabs .indicator { 
    background-color: #76ff03; 
    
}
.carousel .carousel-item{
  width:100%;
}
nav {
    background-color: #28d928; 
    color: #000000;
}
.nav-wrapper {
    color: #000000;
}
.input-field .indicator {
    color: #3a9715;
}
.messi {
    background-image: url(../imag)
}
.picker__date-display {
    background-color: #28d928 
}